
html {
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
html body {
  height: 100%
}

a{
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: auto;
  padding: 0 15px;
 }
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
  flex: 1;
}

/*----header---*/
.header{
  background: #F8F6F7 url('/images/header-bg.png');
  overflow: hidden;
}

.header .container {
  position: relative;
  padding: 30px 0 130px;
}

.hero{
  max-width: 540px;
  position: relative;
  z-index: 2;

}

.header-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  }

.logo{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.navigation ul {
  display: flex;
  list-style: none;
 }

.navigation li:not(:last-child){
  margin-right: 28px;
}

.navigation a{
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  transition: .15s color;
}

.navigation a:hover{
    color: #00BF78;
}

.phone-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.phone-info a {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8;
  color: #333333;
}

.phone-info span {
  font-size: 11px;
  color: #333333;
}
.hero {
  max-width: 540px;
  font-weight: 48px;
  color: #333333;
}

.social {
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform:translateY(-50%);
  margin-bottom: 0;
  padding: 0px;
 }

 .social li:not(:last-child){
  margin-bottom: 20px;
}

.header-girl {
  width: 524px;
  height: 510px;
  position: absolute;
  bottom: 0;
  right: 80px;
  top: 81px;
}

.header-girl:after {
  content: '';
  background: url('/images/girl.png');
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  position: absolute;
}

.header-girl:before {
  content: '';
  width: 472px;
  height: 472px;
  background-color: #FB9475;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: 0px;
  bottom: -110px;
}

.section {
  margin: 50px;
}

.section-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 32px;
}

.selection-title {
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 0, 60px;
  font-weight: 500;
  font-size: 14px;
  height: 48px;
  width: 203px;
  color: #FFFFFF;
  background-color: #FB9475;
  border-radius: 24px;
  border: solid #FB9475;
}

.section .container {
  position: relative;
  padding: 30px 0 130px;
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

.section_blok {
  display: flex;
  justify-content: space-between;
}

.section-text1 {
font-weight: 400;
font-size: 20px;
max-width: 570px;
line-height: 32px;
position: relative;
}

.section-text2 {
  font-weight: 400;
  font-size: 16px;
  max-width: 540px;
  line-height: 26px;
  position: relative;
  }

.section-video {
  width: 445px;
  height: 297px;
  }