.about {
  display: flex;
  justify-content: space-between;
  gap: 94px;

  @include IsMediumDesktop {
      flex-direction: column;
      gap: 40px;
      align-items: center;
  }
  
    &__title {
    font-weight: 400;
    font-size: 20px;
    max-width: 570px;
    line-height: 32px;

    @include IsTablet {
      text-align: justify;
  }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    max-width: 540px;
    line-height: 26px;

    @include IsTablet {
      text-align: justify;
  }
    }
  
  &__video-container {
    width: 445px;
    height: 296px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  
    &::before {
      content: '';
      background-color: #333333;
      position: absolute;
      right: 0;
      right: 0;
      bottom: 0;
      top: 0;

      @include IsTablet {
        padding: 44% 0 0 0;
    }

      @include IsMobile {
        padding: 48% 0 0 0;
    }
    }
  
    &::after {
      content: 'Короткое видео о нас';
      padding-top: 66px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: #FFFFFF;
      position: absolute;
      top: 50%;
      left: 50%;transform: translate(-50%, -50%);
      background: url('../images/batton.png') no-repeat center top;

      @include IsTablet {
        top: 70px;
    }

      @include IsMobile {
        top: 65px;
    }
  
    }
  
    &__bg {
      width: auto;
      height: 100%;
      object-fit: cover;
      display: block;

      @include IsTablet {
        min-width: 350px;
        height: 220px;
    }

    @include IsMobile {
        min-width: 300px;
        height: 200px;
    }
    }
    }
}