
.hero{
    max-width: 540px;
    position: relative;
    z-index: 2;
    align-items: baseline;

    &__navigation {
        order: 2;
    }

    &__title {
        max-width: 540px;
        margin-bottom: 0px;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        color: #333333;

        @include IsTablet {
            text-align: center;
        }
      
      }
      
    &__subtitle {
       font-style: normal;
       margin-top: 17px;
       margin-bottom: 0px;
       font-weight: 400;
       font-size: 20px;
       color: #333333;

       @include IsTablet {
        text-align: center;
            }
  
      }
      
    }