
.navigation-hamburger {
    order: 0;
    display: none;
    margin: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    @include IsTablet {
        position: absolute;
        display: block;
    }

    &__icon {
        font-size: 34px;
        color: gray;
    }
}