@import 'libs';
@import 'common';
@import 'mixins';
@import 'master-card';
@import 'about';
@import 'masters';
@import 'contact';
@import 'aplication-form';
@import 'works-gallery';
@import 'navigator-hamburger';
@import 'navigator';
@import 'hero';
@import 'prices';


.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
  flex: 1;
}

.header{
  background: #F8F6F7 url('/images/header-bg.png');
  overflow: hidden;
}

.header .container {
  position: relative;
  padding: 30px 0 130px;
}

.hero{
  max-width: 540px;
  position: relative;
  z-index: 2;
  align-items: baseline;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  }

.logo{
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
}

.phone-info__link {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.phone-info__link {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8;
  color: #333333;
}

.phone-info__visit-time {
  font-size: 11px;
  color: #333333;
}
.hearo__title {
  max-width: 540px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #333333;

}

.hero__subtitle {
  font-style: normal;
  margin-top: 17px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 20px;
  color: #333333;
}



.header__social {
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform:translateY(-50%);
  margin-bottom: 0;
  padding: 0px;
  
 }

 .social_link:not(:last-child){
  margin-bottom: 20px;
}

.header__girl {
  width: 524px;
  height: 510px;
  position: absolute;
  bottom: 0;
  right: 80px;
  top: 87px;

  @include IsMediumDesktop {
    opacity: 0.4;
}

@include IsTablet {
    display: none;
}

}

.header__girl:after {
  content: '';
  background: url('/images/girl.png');
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  position: absolute;
}

.header__girl:before {
  content: '';
  width: 472px;
  height: 472px;
  background-color: #FB9475;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: 0px;
  bottom: -110px;
}

.section {
  &__header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 32px;

    &--margin {
      margin-top: 100px;
      display: flex;
      justify-content: space-between;
    }
    
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
  
    }
    
  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__features {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
  }
  
  &__subblok {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--grey {

    padding: 80px 15px;
    background-color: #F8F6F7;
    height: 100%;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  &__contact {
    display: flex;
    flex-direction: column;
  }
  
  &__aplication-form {
    margin: auto;
  }
}

.btn {
  display: inline-block;
  color: #FFFFFF;
  background-color: #FB9475;
  border: solid #FB9475;
}

.hero .btn {
  margin-top: 59px;
  padding: 0, 59px;
  font-weight: 500;
  font-size: 14px;
  height: 48px;
  width: 203px;
  border-radius: 24px;
}

.about__button {
  position: absolute;
  width: 59px;
  height: 59px;
  right: 34%;
  top: 40%;
  transform: translate(-50%,-50%);
  padding: 0px;
 }

 .button__text {
  position: absolute;
  right: 2%;
  top: 49%;
  transform: translate(-50%,-50%);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  }


.features__image {
  height: 48px;
  margin: 21px;
}

.features__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 12px;
  margin: 0;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  max-width: 296px;
  padding: 0px;
  margin: 0;
}

.footer {
  left: 0px;
  bottom: 0px;
 }

 .header, .footer {
  flex-shrink: 0;
 }

.footer-top {
  display: flex;
  justify-content: space-between;
}

.phone-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.company-info h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8;
  color: #333333;
}

.company-info span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #278AFF;
  
}

.footer-navigation ul {
  display: flex;
  list-style: none;
 }

.footer-navigation li:not(:last-child){
  margin-right: 28px;
}

.footer-navigation a{
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.pop-services {
  margin-right: 10px;
  margin-bottom: 60px;
}

.service__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.service__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  max-width: 350px;

}

.service__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  max-width: 350px;
}

.btn--small {
  padding: 0, 16px;
  font-weight: 500;
  font-size: 12px;
  height: 34px;
  width: 112px;
  border-radius: 17px;
}

.button-left {
  display: inline-block;
  height: 14px;
  border: none; 
  outline: none;
  border-radius: 24px;
  background: #FFFFFF url('/images/btn1.png');
  margin-top: 59px;
  padding: 0, 59px;
  font-weight: 500;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.button-right {
  display: inline-block;
  border: none; 
  outline: none;
  border-radius: 20px;
  background: #FFFFFF url('/images/btn2.png');
  margin-top: 59px;
  padding: 0, 59px;
  height: 40px;
  width: 40px;

}

.button-left:hover {
  background: #F8F6F7 url('/images/btn1.png');
  border-radius: 20px;
  transition: .15s color;
}

.button-right:hover {
  background: #F8F6F7 url('/images/btn2.png');
  border-radius: 20px;
  transition: .90s color;
}

.partners__title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  font-weight: 400;
  font-size: 16px;
}

.partners {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.partner__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 40px;
}

.partners__brand {
 height: 66px;

}

.partners__logo {
  margin-right: 80px;
  display: flex;
  justify-content: end;
}

.btn__contact {
  display: inline-block;
  color: #FFFFFF;
  width: 374px;
  height: 48px;
  background-color: #FB9475;
  border: solid #FB9475;
  border-radius: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}


